*

!.gitignore
!README.md
!LICENSE
!CMakeLists.txt
!toolchain.cmake

!src
!src/CMakeLists.txt
!src/linker_script.ld
!src/startup.c
!src/main.c

!src/peripherals
!src/peripherals/CMakeLists.txt
!src/peripherals/max7219_led_matrix.c

!include
!include/peripherals
!include/peripherals/max7219_led_matrix.h
